@mixin fontface($fontname: "", $fontfile: "", $path: "", $weightnames: "", $weightnos: "", $fontvariant: "") {
    $totalnofonts: length($weightnames);
    @if ($totalnofonts > 0) {
        $path: $path + $fontfile;
        $i: 0;
        @while $i < $totalnofonts {
            $weightnameidx: $i + 1;
            $weightno: nth($weightnos, $weightnameidx);
            $weightname: nth($weightnames, $weightnameidx);

            @font-face {
                font-family: "#{$fontname}-#{nth($weightnames, $weightnameidx)}";
                src: url('#{$path}-#{nth($weightnames, $weightnameidx)}#{$fontvariant}.eot');
                src:
                    url('#{$path}-#{nth($weightnames, $weightnameidx)}#{$fontvariant}.eot?') format('embedded-opentype'),
                    url('#{$path}-#{nth($weightnames, $weightnameidx)}#{$fontvariant}.woff') format('woff'),
                    url('#{$path}-#{nth($weightnames, $weightnameidx)}#{$fontvariant}.svg##{$fontfile}#{$weightname}') format('svg'),
                    url('#{$path}-#{nth($weightnames, $weightnameidx)}#{$fontvariant}.ttf') format('truetype');
                font-weight: $weightno;
                font-style: normal;
            }
            $i: $i + 1;
        }
    }
}
